.ipynb_checkpoints
Notebooks/crossover.png
Notebooks/example.png
Notebooks/__pycache__/
Notebooks/frequencyEvolutionByDistance.png
Notebooks/sourceEvolution.png
pDist.png
Notebooks/noSignalEvolution.png
Notebooks/pDistDark.png
Notebooks/signalDark.png
Notebooks/signalEvolveDark.png
