.ipynb_checkpoints
Notebooks/crossover.png
Notebooks/example.png
Notebooks/__pycache__/
Notebooks/frequencyEvolutionByDistance.png
Notebooks/sourceEvolution.png
pDist.png
Notebooks/noSignalEvolution.png
Notebooks/pDistDark.png
Notebooks/signalDark.png
Notebooks/signalEvolveDark.png
Notebooks/exampleDark.png
Notebooks/frequencyEvolutionByDistanceDark.png
Notebooks/pDistPresentation.png
Notebooks/presentationCrossover.png
Notebooks/presentationCrossoverDark.png
Notebooks/signal.png
Notebooks/signalEvolve.png
Notebooks/changeRatio.png
Notebooks/crossoverRatio.png
Notebooks/linesByRatio.png
